body {
    font-family: 'Courier New', Courier, monospace;    
}

header {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #081CDF;
    font-size: 4em;
    text-align: center;
}

#login {
    display: flex;
    justify-content: center;
    height: 3em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

}

#setNome, #setEmail, #setCpf, #logarUsuario, #createUsuario {
    margin: 5px;
    border-radius: 5px;
    border-color: #081CDF;
    border-style: solid;
    text-align: center;
}

#retorno, #msgLogin {
    text-align: center;
    color: #081CDF;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 769px) {
    #login{
        height: 17em;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    #setNome, #setEmail, #setCpf, #logarUsuario, #createUsuario {
        height: 40px;
        margin: 5px;
        border-radius: 5px;
        border-color: #081CDF;
        border-style: solid;
        text-align: center;
        align-items: stretch;

    }


}   
